.app {
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #282c34;
    align-items: center;
    min-height: 100vh;
}

.header {
    top: 0px;
    min-height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: calc(10px + 2vmin);
    color: white;
    background-color: #1d2025;
    width: 100vw;
}

.btn {
    background-color: rgb(214, 46, 46);
    color: white;
    width: 10em;
    font-size: 0.7em;
    height: 2em;
    border: transparent;
    border-radius: 20px;
    margin: 10px;
}

.btn:hover {
    background-color: rgb(124, 24, 24);
    cursor: pointer;
}